<!DOCTYPE html>
<html>

<head>
    <title>Acte de naissance</title>
    <style type="text/css">
        #head {
            width: 50%;
            /* margin-left: 30%;*/
        }

        #head_left {
            float: left;
        }

        /* fieldset {
            background-color: white;
            width: 90%;
            margin-left: 50%;
            margin-right: -50%;

        } */

        #head_right {
            float: right;
        }

        /* #formulaire {
            /* margin-left: 30%; */
        /* background-color: white;
            border: solid black 1px;
            border-radius: 2%;
            width: 90%; */
        /* } */

        #signatures {
            font-size: 13px;
        }
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="dist/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="dist/css/bootstrap.min.css">
    <script type="application/javascript" src="dist/js/bootstrap.js"></script>
    <script type="application/javascript" src="dist/js/jquery.js"></script>
    <script type="application/javascript" src="dist/js/bootstrap.min.js"></script> -->
</head>

<body>
    <fieldset>
        <div id="head">
            <div id="head_left">
                <center>
                    <b>
                        PROVINCE <br>
                        <input type="text" name="" size="10"><br>
                        DEPARTEMENT <br>
                        <input type="text" name="" size="10"><br>
                        ARRONDISSEMENT <br>
                        <input type="text" name="" size="10"><br>
                    </b>
                </center>
            </div>
            <div id="head_right">
                <center>
                    <b>
                        REPUBLIQUE DU CAMEROUN <br>
                        Paix - Travail - Patrie <br><br>
                        REPUBLIC OF CAMEROON <br>
                        Peace - Work - Fatherland <br>
                        <b>__________</b>
                    </b>
                </center>
            </div><br><br><br><br><br><br>
            <center>
                <!--<div id="head_middle">
                    <center>

                    </center>
                </div>!-->
                <center><br>
                    <p><b>CENTRE D'ETAT CIVIL </b> </p>
                    CIVIL STATUT REGISTRATION CENTER
                </center>
        </div>
        <div id="formulaire">
            <form action="" method=""><br>
                <b>De - </b>of <input type="text" name="" size="10">
                <p>
                    <font size="5px"><b>ACTE DE NAISSANCE </b></font>
                    <font size="3px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>N°
                            : <input type="text" name="" size="3">/<input type="text" name="" size="3">/<input
                                type="text" name="" size="3">/<input type="text" name="" size="3"></b>
                    </font>
                    <br>
                    <font size="5px"><b></b>BIRTH CERTIFICATE</font>
                </p><br><br>
                <b>Nom de famille de l'enfant: <input type="text" name="" value="" size="80"></b><br>
                Name of the child<br>
                <b>Prenom(s) de l'enfant: <input type="text" name="" value="" size="80"></b><br>
                Given name(s) of the child<br><br>
                <b>Le - </b>On <input type="text" name="" value="" size="80"><br><br>
                <b>Est né à - </b>Was born in/at <input type="text" name="" value="" size="80"></b><br><br>

                <b>Nom de famille de l'enfant <input type="text" name="" value="" size="80"></b><br>
                Name of the child<br>
                <b>Prenom(s) de l'enfant <input type="text" name="" value="" size="80"></b><br>
                Given name(s) of the child<br><br>
                <b>De Sexe -</b>Sex <input type="text" name="" value="" size="80"><br><br>
                <b>De -</b>Of <input type="text" name="" value="" size="80"></b><br><br>
                <b>Né à - </b>Born in/at <input type="text" name="" value="" size="80"><br><br>
                <b>Le - </b>On <input type="text" name="" value="" size="80"><br><br>
                <b>Domicilié à - </b>Residing at <input type="text" name="" value="" size="80"><br><br>
                <b>Profession - </b>Occupation <input type="text" name="" value="" size="80"><br><br>

                <b>Et de - </b>And of <input type="text" name="" value="" size="80"><br><br>
                <b>Né à - </b>Born in/at <input type="text" name="" value="" size="80"><br><br>
                <b>Le - </b>On <input type="text" name="" value="" size="80"><br><br>
                <b>Domicilié à - </b>Residing at <input type="text" name="" value="" size="80"><br><br>
                <b>Profession - </b>Occupation <input type="text" name="" value="" size="80"><br><br>

                <b>Dressé le: <input type="text" name="" value="" size="80"></b><br>
                Drawn up on<br>
                <b>Sur la declarationn de <input type="text" name="" value="" size="80"></b><br><br>
                In accordance with the declaratiion of <input type="text" name="" value="" size="65"><br><br> <input
                    type="text" name="" value="" size="105"><br>
                <b>Lesquels ont certifiés la sincerité de la presente déclation. </b><br>
                who attested to the truth of this declaration.<br><br>
                <b>Par nous <input type="text" name="" value="" size="80"></b>,Officier<br><br>
                <b>De l'état civil de <input type="text" name="" value="" size="80"></b><br>
                By Us, civil Status Registrar
                for&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Centre<br><br>



                <b>Assisté de <input type="text" name="" value="" size="60"> Secretaire d'état civil. </b><br>
                In the presence of
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;Grill status
                Secretary.<br><br>

                <div id="signatures">
                    &nbsp; &nbsp; &nbsp; &nbsp;<b>Le Declarant&nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature
                        de l'Officier d'état civil</b><br>
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Declarant&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;signature
                    of Civil Status Registar <br><br><br><br><br>
                </div>
                <input type="file" aria-label="Upload your file">
            </form>
        </div>
        <img src=<%=act %>>

        </p>
        <!-- <script src="bundle.js"></script> -->
    </fieldset>
</body>

</html>